<div class="mat-elevation-z8" id="table-doenca">
        <h1   mat-dialo-title>Doenças Sistema</h1>
          <div>
              <mat-form-field style=" width: 80%; margin: 30px 5% 0px 3%"  sticky>
                <mat-label>Pesquisa</mat-label>
                <input matInput (keyup)="applyFilter($event)"  placeholder="Pesquisar..." #input>
                <button mat-icon-button matSuffix [attr.aria-label]="'Hide password'">
                  <mat-icon>search</mat-icon>
                </button>
              </mat-form-field>
          
          </div>
          <table mat-table [dataSource]="dataSource">
        
            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID. </th>
              <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let row"> {{row.nome}} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="descricao">
              <th mat-header-cell *matHeaderCellDef> Descrição </th>
              <td mat-cell *matCellDef="let row"> {{row.descricao}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        
          <mat-paginator #paginatorDoenca [pageSizeOptions]="[5, 10, 20]"
                         showFirstLastButtons 
                         aria-label="Select page of Doencas">
          </mat-paginator>
</div>
    <button mat-button (click)= "cancel()" mat-stroked-button color="warn" class="mat-elevation-z8">Cancelar</button>

