<mat-toolbar class="header">
    <img src="assets/img/olho_bionico.jpg" style="cursor: pointer">    
    <h1>Eye Medication</h1>
    
</mat-toolbar>
<main>
    <nav class="menu">
        <ul>
            <li><a routerLink ="" mat-list-item>Home</a></li>
            <li><a  routerLink ="/medicos" mat-list-item>Cadastros de Medicos</a></li>
            <li><a  routerLink ="#" mat-list-item>Adiministrar Pacientes</a></li>
            <li><a  routerLink ="#" mat-list-item>Prontuarios</a></li>
        </ul>
    </nav>
</main>
